<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-dark">Liste des Maisons</h2>
      <a routerLink="/maisons/ajouter" class="btn btn-success">Ajouter une maison</a>
    </div>
  
    <div class="table-responsive shadow">
      <table class="table table-hover table-bordered align-middle">
        <thead class="table-light">
          <tr>
            <th>Nom</th>
            <th>Superficie</th>
            <th>Catégorie</th>
            <th>Adresse</th>
            <th>Quartier</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let maison of maisons">
            <td>{{ maison.nom }}</td>
            <td>{{ maison.superficie }} m²</td>
            <td>{{ maison.categorie }}</td>
            <td>{{ maison.adresse }}</td>
            <td>{{ maison.quartier }}</td>
            <td>
              <a [routerLink]="['/maisons', maison.id]" class="btn btn-sm btn-outline-primary me-1">Détails</a>
              <a [routerLink]="['/maisons', maison.id, 'modifier']" class="btn btn-sm btn-outline-warning me-1">Modifier</a>
              <button class="btn btn-sm btn-outline-danger">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
