<div class="container py-5 text-light">
    <h2 class="mb-4">Bienvenue dans votre tableau de bord</h2>
  
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card bg-dark border-primary shadow">
          <div class="card-body">
            <h5 class="card-title text-primary">Quartiers</h5>
            <p class="card-text text-light">Vous gérez 3 quartiers.</p>

            <a routerLink="/quartiers" class="btn btn-outline-primary w-100">Voir les quartiers</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card bg-dark border-success shadow">
          <div class="card-body">
            <h5 class="card-title text-success">Maisons</h5>
            <p class="card-text text-light">Total de 12 maisons.</p>
            <a routerLink="/maisons" class="btn btn-outline-success w-100">Voir les maisons</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card bg-dark border-warning shadow">
          <div class="card-body">
            <h5 class="card-title text-warning">Catégories</h5>
            <p class="card-text text-light">3 types de maisons enregistrés.</p>
            <a routerLink="/categories" class="btn btn-outline-warning w-100">Voir les catégories</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  